<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xing.fee.mapper.FeeMapper">
    <insert id="addFee" parameterType="com.xing.fee.domain.Fee">
        INSERT INTO fee
        (feeKind,state,feeName,basicTime,basicCost,unitCost,newTime,openTime,content)
        VALUES
        (#{feeKind},#{state},#{feeName},#{basicTime},#{basicCost},#{unitCost},#{newTime},#{openTime},#{content})
    </insert>
    <update id="openFee"
            parameterType="com.xing.fee.domain.Fee">
        UPDATE fee SET openTime=#{openTime},state=#{state} WHERE feeId=#{feeId};
    </update>
    <select id="findAllFee" resultType="com.xing.fee.domain.Fee">
        SELECT * FROM fee
    </select>
    <select id="findFeeOrderByDESC" resultType="com.xing.fee.domain.Fee">
        SELECT * FROM fee ORDER BY (basicTime+0) DESC;
    </select>
    <select id="findAllFeeCount" resultType="int">
        SELECT COUNT(*) FROM fee;
    </select>
    <delete id="deleteFeeById" parameterType="int">
        DELETE FROM fee WHERE feeId=#{feeId};
    </delete>
    <select id="findAllFeeByPage"
            parameterType="com.xing.base.domain.PageBean"
            resultType="com.xing.fee.domain.Fee">
        SELECT * FROM fee LIMIT #{start},#{pageSize};
    </select>
</mapper>