<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xing.mapper.AdminMapper">
    <!-- 一对多 管理员 - 角色 -->
    <resultMap id="rol_perMap"
               type="com.xing.domin.Role">
        <!--先定义管理员对象的基础属性-->
        <id column="admId" property="admId"/>
        <result column="admName" property="admName"/>
        <result column="admLoginName" property="admLoginName"/>
        <result column="admLoginPwd" property="admLoginPwd"/>
        <result column="admPhone" property="admPhone"/>
        <result column="admEmail" property="admEmail"/>
        <result column="authorizationTime" property="authorizationTime"/>
        <!-- 一对多中的集合对象-->
        <collection property="rolList"
                    ofType="com.xing.domin.Role">
            <!--对应的是角色详情的列-->
            <id column="rolId" property="rolId"/>
            <result column="rolName" property="rolName"/>
            <result column="rolContent" property="rolContent"/>
        </collection>
    </resultMap>
    <insert id="addAdmin"
            parameterType="com.xing.domin.Admin">
        INSERT INTO admin
        (admId,admName,admLoginName,admLoginPwd,admPhone,admEmail,authorizationTime)
        VALUES
        (#{admId},#{admName},#{admLoginName},#{admLoginPwd},#{admPhone},#{admEmail},#{authorizationTime})
    </insert>
    <insert id="addAdmin_Rol" parameterType="com.xing.domin.Admin">
        INSERT INTO adm_rol (admId,rolId) VALUES
        <foreach collection="rolList" item="rol" separator=",">
            (#{admId},#{rol.rolId})
        </foreach>
    </insert>
</mapper>