<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xing.role.mapper.RoleMapper">
    <!-- 一对多 角色-角色权限 -->
    <resultMap id="rol_perMap"
               type="com.xing.role.domain.Role">
        <!--先定义角色对象的基础属性-->
        <id column="rolId" property="rolId"/>
        <result column="rolName" property="rolName"/>
        <result column="rolContent" property="rolContent"/>
        <!-- 一对多中的集合对象-->
        <collection property="perList"
                    ofType="com.xing.role.domain.Permissions">
            <!--对应的是角色权限的列-->
            <id column="perId" property="perId"/>
            <result column="perName" property="perName"/>
            <result column="perContent" property="perContent"/>
        </collection>
    </resultMap>
    <insert id="addRole" parameterType="com.xing.role.domain.Role">
        INSERT INTO role (rolId,rolName,rolContent) VALUES (#{rolId},#{rolName},#{rolContent});
    </insert>
    <update id="updateRole" parameterType="com.xing.role.domain.Role">
        UPDATE role SET rolName=#{rolName} WHERE rolId=#{rolId};
    </update>
    <insert id="addRole_Per" parameterType="com.xing.role.domain.Role">
        INSERT INTO rol_per (rolId,perId) VALUES
        <foreach collection="perList" item="per" separator=",">
            (#{rolId},#{per.perId})
        </foreach>
    </insert>
    <select id="findAllRole" resultMap="rol_perMap">
        SELECT * FROM rol_per NATURAL JOIN permissions NATURAL JOIN role;
    </select>
    <select id="findRoleById" resultMap="rol_perMap">
        SELECT * FROM rol_per NATURAL JOIN permissions NATURAL JOIN role WHERE rolId=#{rolId};
    </select>
    <delete id="deleteAllRole_Per" parameterType="java.lang.String">
        DELETE FROM rol_per WHERE rolId=#{rolId};
    </delete>
    <select id="findAllRoleByPage"
            parameterType="com.xing.base.domain.PageBean"
            resultMap="rol_perMap">
        SELECT * FROM (SELECT * FROM role LIMIT #{start},#{pageSize}) t NATURAL JOIN rol_per NATURAL JOIN permissions;
    </select>
    <select id="findAllCountByPage"
            resultType="int">
        SELECT count(*) FROM role;
    </select>

</mapper>